<%- include('templates/header'); -%>
<main>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10">
      <div class="formulario-registro">
        <h2>Registro de nuevo cuenta bancaria</h2>
        <form
          class="form-signin"
          method="POST"
          action="/banking/save"
          id="form"
        >
          <div class="form-group">
            <label for="nomcuenta">Nombre de CTA.</label>
            <input
              type="text"
              class="form-control"
              id="nomcuenta"
              required
              name="nombre"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="nrocuenta">Nro Cuenta.</label>
            <input
              type="text"
              class="form-control"
              id="nrocuenta"
              required
              name="apellidos"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="correo">Correo</label>
            <input
              type="email"
              class="form-control"
              id="correo"
              required
              name="correo"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="tipoCuenta">Tipo de cuenta</label>
            <select
              class="form-control"
              id="tipoCuenta"
              required
              name="id_tipo_documento"
            >
              <option>Seleccione una opción</option>
              <option value="0">SOLES</option>
              <option value="1">Dolares</option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="TipoBanco">Banco</label>
            <select
              class="form-control"
              id="tipoBanco"
              required
              name="id_tipo_documento2"
            >
            <% data.bancos.forEach(function(banco) { %>
              <option value="<%= banco.id %>"><%= banco.nombre %></option>
           <% }); %>
            </select>
          </div>

          <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Añadir"/>
              <input type="button" class="btn btn-light" value="Limpiar"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <!-- table -->
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre de cuenta</th>
          <th scope="col">Banco</th>
          <th scope="col">Nro cta.</th>
          <th scope="col">Dólares</th>
        </tr>
      </thead>
      <tbody>
        <% data.cuentas.forEach(function(cuenta) {%>
          <tr>
            <!-- <th scope="row"></th> -->
            <td><%= cuenta.nombre %></td>
            <td><%= data.bancos.find(banco=>banco.id == cuenta.banco_id).nombre %> </td>
            <td><%= cuenta.nrocuenta %></td>
            <td><%= cuenta.esdolares==1 ? 'SI': 'NO' %></td>
          </tr>
          <% })%>
       
      </tbody>
    </table>
  </div>
</main>


<script>
  let nomcuenta = document.getElementById("nomcuenta")
  let nrocuenta = document.getElementById("nrocuenta")
  let correo = document.getElementById("correo")
  let tipoCuenta = document.getElementById("tipoCuenta")
  let tipoBanco = document.getElementById("tipoBanco")

  // function logSubmit(event) {
    
  //   event.preventDefault();




  // }

  // const form = document.getElementById('form');
  
  // form.addEventListener('submit', logSubmit);


</script>
<%- include('templates/footer'); -%>
