<%- include('templates/header'); -%>
<main class="formulario-cambio">
    <div class="paso-descripcion container text-center">
        <h2 class="fw-bold">Historial de operaciones</h2>
        <img src="/images/pig-1.svg" alt="Historial de operaciones" width="90" >
    </div>
    <div class="tabla-historial">
        <table class="table table-responsive table-striped table-bordered table-hover">
            <thead>
            <tr class="table-dark text-center">
                <th scope="col" style="width: 100px;">Número de operación</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tipo de cambio</th> 
                <th scope="col">Monto enviado</th>
                <th scope="col">Monto recibido</th>
                <th scope="col">Tarifa</th>
            </tr>
            </thead>
            <tbody>
            <% if(data.vacio=='SI') { %>
                <tr>
                    <td colspan="6" >Sin Registros</td>
                </tr>
            <% } else { %>
                <% data.operaciones.forEach(function(ope) { %>
                    <tr>
                        <td><%= ope.id %></td>
                        <td><%= ope.fechaoperacion %></td>
                        <td>
                        <% if(ope.esdolares==0) { %>
                            Soles a Dolares
                            <% } else { %>
                                Dolares a Soles
                        <% } %>                                                 
                        </td>
                        
                        <td><%= ope.montoorigen %></td>
                        <td><%= ope.montodestino %></td>
                        <td><%= ope.tipocambio %></td>
                    </tr>
                <% }); %>
            <% } %> 
            
           
            </tbody>
        </table>
        
    </div>
</main>

<script>
    
</script>

<%- include('templates/footer'); -%>